.card {
    background-color: #48485e73;
    color: white;
}
.card-header {
    background-color: var(--primary-color, #000000);
    color: white;
}
.table {
    color: white;
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
    color: white;
}
h2 {
    color: var(--primary-color);
}
hr {
    color: var(--primary-color);
}
h4 {
    color: var(--primary-color);
}
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
